<h1>Tasks#edit</h1>
<p>Find me in app/views/tasks/edit.html.erb</p>

<%= form_for(@task) do |f| %>
  <%= f.label :Title %>
  <%= f.text_field :title %>
  <%= f.label :Details %>
  <%= f.text_field :details %>
  <%= f.check_box :completed %>
  <%= f.submit %>
<% end %>