<h1>New Task</h1>
<p>Find me in app/views/tasks/new.html.erb</p>

<%= form_for(@task) do |f| %>
  <%= f.label :Title %>
  <%= f.text_field :title %>
  <%= f.label :Details %>
  <%= f.text_field :details %>
  <%= f.submit %>
<% end %>